<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="20480" />
    <httpHandlers>
      <add verb="*" path="UploadTestSpeed/AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler,AjaxControlToolkit" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0" />
    <trust level="Full" />
  </system.web>
  <system.webServer>
    
    <validation validateIntegratedModeConfiguration="false" />
        <handlers>
      
      <add name="AjaxFileUploadHandler" verb="*" path="UploadTestSpeed/AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="db" connectionString="Data Source=DESKTOP-M3LJIV5;Initial Catalog=PlanCredi;Integrated Security=True" />
  </connectionStrings>
</configuration>